/* Applying "Verdana" as the fonts for my project website, and then using "sans-serif" as the fallback font family, and light cream color as the project background. */
* {
    font-family: Verdana, sans-serif;
    background-color: #fffdd0;
}

/* Headings are of Dark Green color, center-aligned, and have a margin of 20px at the bottom */
h1, h2, h3 {
    color: #004d00;
    text-align: center;
    margin-bottom: 20px;
}

/* Paragraph Styling */
p {
    font-size: 16px; /* Slightly larger font size */
    line-height: 1.5; /* Increased line height for readability */
    margin: 10px 0; /* Space above and below paragraphs */
}
